/* main style sheet for project 2 */

body {
  font-family: 'henriette', serif;
  font-family: 'aktiv-grotesk', sans-serif;
  background-color: #ffffff;
  font-size: 18px;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  height:800px;
}

p {
  font-size: 1em;
}

h1 {
  font-family: "henriette", serif;
  color: #000000;
  font-size: 72px;
  padding: 0;
  margin: 15px;
  margin-left: 533px;
}

h2 {
  font-family: "henriette",serif;
  font-size: 40px;
}

h3 {

}

h4 {
  font-family: "henriette", sans-serif;
  font-size: 30px;
  color: #000000;
  display: inline;
  margin: 16px;
}

.left-homepage {
  display: flex;
}

.right-homepage {
  display: flex;
}

.tabs{
  margin-left: 338px;
  background-color: #DBBE9E;
}

#illustration {
  width: 400px;

}
